img{
    width: 20px;
    height: 20px;
    display: block;
}  

#lightMode{
    background-color: #2C6EFD;
}

#darkMode{
    background-color: black;
}

#pageName{
    font-size: 30px;
    font-weight: 800;
}