.userImg{
    width: 35px;
    height: 35px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
}  

#lightMode{
    background-color: #2C6EFD;
}

#darkMode{
    background-color: black;
}

#pageName{
    font-size: 30px;
    font-weight: 800;
}

